html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  text-decoration: none; }

body {
  margin: 0;
  background: #e3dede; }

header h1 {
  margin-top: 0;
  font-family: 'Revalia', cursive;
  display: inline-block;
  color: #492540; }

header h1::after {
  content: "";
  display: block;
  height: 5px;
  background: #c03546; }

header {
  text-align: center;
  padding: 50px 0; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center; }

.todo,
.doing,
.done {
  width: 30.66666667%;
  padding: 15px;
  padding-bottom: 50px;
  min-height: 200px;
  position: relative;
  background-color: #492540;
  border-radius: 10px; }

.todo h2,
.doing h2,
.done h2 {
  margin-top: 0;
  /*text-transform: uppercase;*/
  color: #fff;
  font-family: 'Revalia', cursive; }

.todo,
.done {
  margin-right: 2%;
  margin-left: 2%; }

.todo__list,
.doing__list,
.done__list {
  list-style: none;
  padding: 0; }

.todo__input,
.todo__new-input {
  height: 50px;
  width: 100%;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 100px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
  color: #fff; }

.todo__input:focus,
.todo__new-input:focus,
.todo__button button:focus,
.todo__add:focus {
  outline: none; }

.todo__new-input {
  position: absolute;
  bottom: 0px;
  left: 0;
  border: 0;
  padding-left: 20px;
  padding-right: 55px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.todo__item {
  position: relative;
  margin-bottom: 20px; }

.todo__button {
  position: absolute;
  right: 10px;
  top: 12px; }

.todo__button button, .todo__add {
  border: none;
  padding: 6px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer; }

.todo__start,
.todo__done {
  background-color: #5A9367; }

.todo__start:hover,
.todo__add:hover,
.todo__done:hover {
  background-color: #3f6748; }

.todo__delete {
  background-color: #E71D36; }

.todo__delete:hover {
  background-color: #a21426; }

.todo__add {
  padding: 10px;
  z-index: 100;
  position: absolute;
  right: 10px;
  bottom: 8px;
  background-color: #5A9367; }

.warning {
  opacity: 0;
  position: absolute;
  top: 43%;
  left: 50px;
  color: #c03546; }

p.warning.active {
  opacity: 1; }

footer {
  margin-top: 100px;
  font-family: sans-serif;
  font-style: italic; }

footer p:nth-of-type(1) {
  margin-bottom: 0; }

footer a {
  color: #000;
  text-decoration: underline; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
